* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #009dff, #0f3685);
    font-family: monospace, sans-serif;
    color: #fff;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 360px;
    width: 90%;
  }
  .container img {
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      border-radius: 16px;
  }
  
  h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  #qrcode {
    margin: 20px auto;
  }